*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}



/* ---------- The nav bar ---------- */
header{
    position: fixed;
    top: 0;
}
.nav{
    width: 0px;
    color:white;
    background-color: #001;
    overflow: hidden;
    transition: .6s ;
    margin-left: 15px;
    border: 2px solid gray;
    border-radius: 15px;
    opacity: 0;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.69);
}
.nav li a{
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
#check:checked ~.nav{
    width: 135px;
    opacity: 1;
}
label{
    color: white;
}
.nav li{
    display:flex;
    margin-top: 18px;
    gap:10px;
    margin-left: 11px;
    padding: 0px 0px 4px 10px;
    text-align: center;
    align-items: center;
    transition: .2s;
}
.nav:hover li{
    opacity: .4;
}
.nav li:hover{
    opacity: 1;
    transform: scale(1.1);
}
.nav li img{
    width:20px;
    height: 20px;
    margin-top: 7px;
}
.logo{
    width: 60px;
    cursor: pointer;
    margin: 5px;

}
.open-nav{
    width:20px;
    transform: rotate(-90deg) translate(25px,-10px);
    opacity: .4;
    transition: .5s;
    
}
.open-nav:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1) translate(-8px,1px);

}
.close-nav{
    transform:translateY(-4px) rotate(-90deg);
    cursor: pointer;
    transition: .5s;
}
.close-nav:hover{
    transform: scale(1.1) translateY(-10px);
}
.btn-nav{
    display: none;
}
.nav li label{
    cursor: pointer;
}
.return{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-right{
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    gap:15px;
    margin: 5px;
}
.space,.get{
    margin: 5px;
    cursor: pointer;
}
.nav-right a{
    text-decoration: none;
}
.nav-right .get{
    position: relative;
    bottom: 13px;
    color: white;
    background-color: #3c99e9;
    padding: 10px;
    border-radius: 8px;
}
.nav-right img{
    width: 30px;
}
.utilisateur{
    width:170px;
    transform: translate(40px,200px);
    background-color: rgba(0, 0, 0, 0.355);
    border: 2px solid gray;
    border-radius: 15px;
    padding: 15px;
    opacity: 0;
    transition: .6s;
}
.utilisateur a{
    display: block;
    color: white;
    text-align: center; 
    transition: .2s;
}
.utilisateur a+a{
    margin-top: 10px;
    border-top: 1px solid gray;
    padding-top: 10px;
}
.utilisateur a:hover{
    transform: scale(1.1);
}
#check-user:checked ~.utilisateur{
    opacity: 1;
    transform: translate(40px,20px);
    display: block;
}
.search-bar{
    opacity: 0;
    transition: .6s;
    width: 250px;
}
.search-bar input{
    padding: 8px;
    border-radius: 10px;
    width: 100%;
}
#check-search:checked ~.search-bar{
    opacity: 1;
    transform: translateY(-80px);
}
.nav-right input[type="checkbox"]{
    display: none;
}



/* ---------- first section ---------- */
.header-image{
    background-image: url("../images/event1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height:580px;
    display: flex;
    align-items: center;
}
.header-image div{
    width:800px;
    margin: 0 auto;
    color:white;
}
.header-image div hr{
    width:100px;
    margin: 20px auto;
}
.header-image div p,button,h1{
    margin-bottom: 20px;
}

.header-image div button{
    text-align: center;
    display: flex;
    margin: 0px auto;
    border: 2px solid ;
    border-radius: 10px;
    background-color: white;
    color: #22b3c1;
    cursor: pointer;
    padding:10px 30px;
    margin-top: 20px;
    border: none;
    
}
.header-image div button a{
    text-decoration: none;
    color: #22b3c1;
    
}
.header-image div p{
    text-align: center;
    line-height: 30px;
}
.header-image div h1{
    text-align: center;
}



/* ---------- second section ---------- */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.parent,.parent2{
    width:100%;
}
.child1{
    width:85%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
    margin: 20px auto;
}

.article{
    background-color: white;
    width:100%;
    text-align: center;
    border-radius: 10px;
    transition: .3s;
}
.article:hover{
    cursor:pointer;
    transform: scale(1.03);
    box-shadow: 0px 0px 50px gray;
}
.article img{
    display: block;
    margin: 0 auto;
    width: 90px;
    margin-bottom: 20px;
}
.article p{
    margin-bottom: 20px;
    font-weight: 800;
}
.article p+p{
    color:#22b3c1;
    font-weight: normal;
}
.child2{
    width:85%;
    border: 2px solid #22b3c1;
    margin: 0px auto;
    border-radius: 10px;
}
.child2 .local iframe{
    width:100%;
    height:460px;
    border-radius: 10px 10px 0px 0px;
}



/* ----- form ----- */
.section{
    background-color: #181a21;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
}
.child2 .section h2{
    color: white;
    margin:30px;
    text-align: center;
}
.child2 .section h2 span{
    color:#22b3c1;
}

.section .formule{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    width:85%;
    margin: 0 auto;
}
.section .formule form{
    width:100%;
}
.section .formule form label,.team-int{
    color:white;
    font-variant: small-caps;
    margin-left: 5px;
    
}
.section .formule form input{
    background-color: #32353c;
    width:100%;
    border-radius: 10px;
    padding: 12px;
    margin:8px 0px 20px 0px;
    border: 2px solid rgba(128, 128, 128, 0.251);
    color: white;
}
.section .formule form input::placeholder{
    color: rgba(255, 255, 255, 0.711);
}
.section .formule form select{
    background-color: #32353c;
    width:100%;
    border-radius: 10px;
    padding: 12px;
    color: rgba(255, 255, 255, 0.711);
    margin:8px 0px 20px 0px;
    border: 2px solid rgba(128, 128, 128, 0.251);
}
.section .formule form select option,.team option{
    color:white;
}
.child3{
    width:85%;
    margin: 0 auto;
}
.teams{
    background-color: #32353c;
    width:100%;
    border-radius: 10px;
    padding: 11px;
    margin: 10px auto;
    border: 2px solid rgba(128, 128, 128, 0.251);
    color: rgba(255, 255, 255, 0.711);
}


.child3 button{
    width:100%;
    height:45px;
    margin-top: 20px;
    background-color: #22b3c1;
    border-radius: 10px;
    border: none;
    color:white;
    cursor: pointer;
}




/* ---------- footer ---------- */
footer{
    height: fit-content;
    padding: 30px 0px;
}
.parent{
    width:100%;
    margin: 0 auto;
}
.links{
    width: fit-content;
    margin: 0 auto;
}
.links ul{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.links ul a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    
}
.links ul a:hover{
    color:blue;
}
.social-media{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
}
.social-media a{
    width:20px;
    height:20px;
    margin-top: 20px;
}
.social-media a img{
    width: 100%;
}



/* ---------- responsive using @media ---------- */
@media screen and (max-width:768px){
    .child1{
        grid-template-columns: repeat(1,1fr);
        width: 95%;
    }
    .child2{
        width: 95%;
    }
    .section .formule{
        grid-template-columns: repeat(1,1fr);
        gap:0px;
    }
}