*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: black;
}



/* ---------- the nav bar ---------- */
header{
    position: fixed;
    top: 0;
}
.nav{
    width: 0px;
    color:white;
    background-color: #001;
    overflow: hidden;
    transition: .6s ;
    margin-left: 15px;
    border: 2px solid gray;
    border-radius: 15px;
    opacity: 0;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.69);

}
.nav li a{
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
#check:checked ~.nav{
    width: 135px;
    opacity: 1;
}
label{
    color: white;
}
.nav li{
    display:flex;
    margin-top: 18px;
    gap:10px;
    margin-left: 11px;
    padding: 0px 0px 4px 10px;
    text-align: center;
    align-items: center;
    transition: .2s;
}
.nav:hover li{
    opacity: .4;
}
.nav li:hover{
    opacity: 1;
    transform: scale(1.1);
}
.nav li img{
    width:20px;
    height: 20px;
    margin-top: 7px;
}
.logo{
    width: 60px;
    cursor: pointer;
    margin: 5px;

}
.open-nav{
    width:20px;
    transform: rotate(-90deg) translate(25px,-10px);
    opacity: .4;
    transition: .5s;
    
}
.open-nav:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1) translate(-8px,1px);

}
.close-nav{
    transform:translateY(-16px) rotate(-90deg);
    cursor: pointer;
    transition: .5s;
}
.close-nav:hover{
    transform: scale(1.1) translateY(-14px);
}
.btn-nav{
    display: none;
}
.nav li label{
    cursor: pointer;
}
.return{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-right{
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    gap:15px;
    margin: 5px;
}
.space,.get{
    margin: 5px;
    cursor: pointer;
}
.nav-right a{
    text-decoration: none;
}
.nav-right .get{
    position: relative;
    bottom: 13px;
    color: white;
    background-color: #3c99e9;
    padding: 10px;
    border-radius: 8px;
}
.nav-right img{
    width: 30px;
}
.utilisateur{
    width:170px;
    transform: translate(40px,200px);
    background-color: rgba(0, 0, 0, 0.355);
    border: 2px solid gray;
    border-radius: 15px;
    padding: 15px;
    opacity: 0;
    transition: .6s;
}
.utilisateur a{
    display: block;
    color: white;
    text-align: center; 
    transition: .2s;
}
.utilisateur a+a{
    margin-top: 10px;
    border-top: 1px solid gray;
    padding-top: 10px;
}
.utilisateur a:hover{
    transform: scale(1.1);
}
#check-user:checked ~.utilisateur{
    opacity: 1;
    transform: translate(40px,20px);
    display: block;
}
.search-bar{
    opacity: 0;
    transition: .6s;
    width: 250px;
}
.search-bar input{
    padding: 8px;
    border-radius: 10px;
    width: 100%;
}
#check-search:checked ~.search-bar{
    opacity: 1;
    transform: translateY(-80px);
}
.nav-right input[type="checkbox"]{
    display: none;
}



/* ---------- page's head ---------- */
.header{
    margin-top: -20px;
    color: white;
    width: 100%;
    height: 580px;
    background-image: url("../images/contact-us\ img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.header .info{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.header .info h1{
    font-size: 40px;
    font-weight: 700;
    
}
.header .info h1,p{
    margin-bottom: 25px
}
.header .info a{
    background-color: white;
    padding: 10px 20px;
    color: blue;
    text-decoration: none;
    border-radius: 10px;
    font-variant: small-caps;
}



/* ---------- contact form ---------- */
.section{
    color: white;
    width: 70%;
    margin: 0 auto;
}
.section p,h2{
    text-align: center;
    margin-top: 20px;
}
.section form .article label,input{
    display: block;
}
.section form .article input{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: #32353c;
    border: none;
    color: white;
}
.section form .article label{
    margin: 20px 0px 5px 5px;
    color: white;
    font-variant:small-caps ;
}
.section form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.section form .article{
    width: 100%;
}
textarea{
    margin-top: 20px;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
    background: #32353c;
    color: white;
}
input[type="submit"]{
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    color: blue;
    font-variant: small-caps;
    cursor: pointer;
}
.child{
    border: 2px solid gray;
    border-radius: 15px;
    padding:0px 20px 20px 20px;
    background: #181a21;
}




/* ---------- footer ---------- */
footer{
    height: fit-content;
    padding: 30px 0px;
}
.parent{
    width:100%;
    margin: 0 auto;
}
.links{
    width: fit-content;
    margin: 0 auto;
}
.links ul{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.links ul a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    
}
.links ul a:hover{
    color:blue;
}
.social-media{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
}
.social-media a{
    width:20px;
    height:20px;
    margin-top: 20px;
}
.social-media a img{
    width: 100%;
}



/* ---------- responsive using @media ---------- */
@media screen and (max-width:768px){
    .section{
        width: 90%;
    }
    .section .child form{
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
    }
}