*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black !important;
    min-height: 100vh;
}



/* ---------- The nav bar ---------- */
header{
    position: fixed;
    top: 0;
}
.nav{
    width: 0px;
    color:white;
    background-color: #001;
    overflow: hidden;
    transition: .6s ;
    margin-left: 15px;
    border: 2px solid gray;
    border-radius: 15px;
    opacity: 0;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.69);
}
.nav li a{
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
#check:checked ~.nav{
    width: 135px;
    opacity: 1;
}
label{
    color: white;
}
.nav li{
    display:flex;
    margin-top: 18px;
    gap:10px;
    margin-left: 11px;
    padding: 0px 0px 4px 10px;
    text-align: center;
    align-items: center;
    transition: .2s;
}
.nav:hover li{
    opacity: .4;
}
.nav li:hover{
    opacity: 1;
    transform: scale(1.1);
}
.nav li img{
    width:20px;
    height: 20px;
    margin-top: 7px;
}
.logo{
    width: 60px;
    cursor: pointer;
    margin: 5px;

}
.open-nav{
    width:20px;
    transform: rotate(-90deg) translate(1px,-10px);
    opacity: .4;
    transition: .5s;
    
}
.open-nav:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1) translate(-7px,20px);

}
.close-nav{
    transform:translateY(-10px) rotate(-90deg);
    cursor: pointer;
    transition: .5s;
}
.close-nav:hover{
    transform: scale(1.1) translateY(-10px);
}
.btn-nav{
    display: none;
}
.nav li label{
    cursor: pointer;
}
.return{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-right{
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    gap:15px;
    margin: 5px;
}
.space,.get{
    margin: 5px;
    cursor: pointer;
}
.nav-right a{
    text-decoration: none;
}
.nav-right .get{
    color: white;
    background-color: #3c99e9;
    padding: 10px;
    border-radius: 8px;
}
.nav-right img{
    width: 30px;
}
.utilisateur{
    width:170px;
    transform: translate(40px,200px);
    background-color: rgba(0, 0, 0, 0.355);
    border: 2px solid gray;
    border-radius: 15px;
    padding: 15px;
    opacity: 0;
    transition: .6s;
}
.utilisateur a{
    display: block;
    color: white;
    text-align: center; 
    transition: .2s;
}
.utilisateur a+a{
    margin-top: 10px;
    border-top: 1px solid gray;
    padding-top: 10px;
}
.utilisateur a:hover{
    transform: scale(1.1);
}
#check-user:checked ~.utilisateur{
    opacity: 1;
    transform: translate(40px,20px);
    display: block;
}
.search-bar{
    opacity: 0;
    transition: .6s;
    width: 250px;
}
.search-bar input{
    padding: 8px;
    border-radius: 10px;
    width: 100%;
}
#check-search:checked ~.search-bar{
    opacity: 1;
    transform: translateY(-80px);
}
.nav-right input[type="checkbox"]{
    display: none;
}


/* ---------- Content ---------- */
main{
    width: 75%;
    margin: 120px auto;
}
main .section1{
    width: 100%;
    display: flex;
    background-color: #050655;
    border-radius: 15px;
}
main .section1 .article1,.article2{
    width: 50%;
    text-align: center;
}
main .section1 .article2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
main .section1 .article1 img{
    width:100%;
    border-radius: 15px 0px 0px 15px;
}
main .section1 .article2 div img{
    display: block;
    width:80px;
    margin: 30px auto;
}
main .section1 .article2 div h1,p{
    color: white;
}
main .section1 .article2 div h1{
    font-weight: 700;
}
main .section1 .article2 div p{
    font-size: 14px;
    
}
main .section1 .article2 div a{
    text-decoration: none;
    color: #050655;
    background: white;
    width: 40%;
    margin: 30px auto;
    padding: 10px;
    display: block;
    font-variant: small-caps;
}
.section2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
    margin-top: 50px;
}
.section2 div{
    width: 100%;
    text-align: center;
    color: white;
    /* border: 2px solid rgba(128, 128, 128, 0.76); */
    border: 2px solid #2a2a2a;
    border-radius: 15px;
    padding: 30px 20px;
    background-color: #121212;
}
.section2 div p{
    color: gray;
    font-size: 20px;
    margin-top: 15px;
}
.section2 div p::selection{
    background-color: darkblue;
}
.section2 div img{
    width: 120px;
    display: block;
    margin: 0 auto;
}



/* ---------- Footer ---------- */
footer{
    height: fit-content;
    padding: 30px 0px;
}
.parent{
    width:100%;
    margin: 0 auto;
}
.links{
    width: fit-content;
    margin: 0 auto;
}
.links ul{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.links ul a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    
}
.links ul a:hover{
    color:blue;
}
.social-media{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
}
.social-media a{
    width:20px;
    height:20px;
    margin-top: 20px;
}
.social-media a img{
    width: 100%;
}



/* ---------- Responsive using @media ---------- */
@media screen and (max-width:768px){
    main{
        width: 95%;
    }
    .section1{
        display: block;
    }
    .article1{
        display: none;
    }
    .article2{
        width: 100%;
    }
    .section2{
        grid-template-columns: repeat(1,1fr);
    }
}
