*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black !important;
    min-height: 100vh;
}



/* ---------- the nav bar ---------- */
header{
    position: fixed;
    top: 0;
    z-index: 2;
}
.nav{
    width: 0px;
    color:white;
    background-color: #001;
    overflow: hidden;
    transition: .6s ;
    margin-left: 15px;
    border: 2px solid gray;
    border-radius: 15px;
    opacity: 0;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.69);
}
.nav li a{
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
#check:checked ~.nav{
    width: 135px;
    opacity: 1;
}
label{
    color: white;
}
.nav li{
    display:flex;
    margin-top: 18px;
    gap:10px;
    margin-left: 11px;
    padding: 0px 0px 4px 10px;
    text-align: center;
    align-items: center;
    transition: .2s;
}
.nav:hover li{
    opacity: .4;
}
.nav li:hover{
    opacity: 1;
    transform: scale(1.1);
}
.nav li img{
    width:20px;
    height: 20px;
    margin-top: 7px;
}
.logo{
    width: 60px;
    cursor: pointer;
    margin: 5px;

}
.open-nav{
    width:20px;
    transform: rotate(-90deg) translate(25px,-10px);
    opacity: .4;
    transition: .5s;
    
}
.open-nav:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1) translate(-8px,1px);

}
.close-nav{
    transform:translateY(-4px) rotate(-90deg);
    cursor: pointer;
    transition: .5s;
}
.close-nav:hover{
    transform: scale(1.1) translateY(-10px);
}
.btn-nav{
    display: none;
}
.nav li label{
    cursor: pointer;
}
.return{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-right{
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    gap:15px;
    margin: 5px;
}
.space,.get{
    margin: 5px;
    cursor: pointer;
}
.nav-right a{
    text-decoration: none;
}
.nav-right .get{
    position: relative;
    bottom: 13px;
    color: white;
    background-color: #3c99e9;
    padding: 10px;
    border-radius: 8px;
}
.nav-right img{
    width: 30px;
}
.utilisateur{
    width:170px;
    transform: translate(40px,200px);
    background-color: rgba(0, 0, 0, 0.355);
    border: 2px solid gray;
    border-radius: 15px;
    padding: 15px;
    opacity: 0;
    transition: .6s;
}
.utilisateur .active+a{
    opacity: .5;
}
.utilisateur a{
    display: block;
    color: white;
    text-align: center; 
    transition: .2s;
    border-radius: 8px;
}
.utilisateur a+a{
    margin-top: 10px;
    border-top: 1px solid gray;
    padding-top: 10px;
}
.utilisateur a:hover{
    transform: scale(1.1);
    opacity: 1;
}
#check-user:checked ~.utilisateur{
    opacity: 1;
    transform: translate(40px,20px);
    display: block;
}
.search-bar{
    opacity: 0;
    transition: .6s;
    width: 250px;
}
.search-bar input{
    padding: 8px;
    border-radius: 10px;
    width: 100%;
}
#check-search:checked ~.search-bar{
    opacity: 1;
    transform: translateY(-80px);
}
.nav-right input[type="checkbox"]{
    display: none;
}



/* ---------- login form ---------- */
.first-parent{
    width: 100%;
    height: 100vh;
    background-image: url("../images/all-games1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -20px;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 1000px black;
    z-index: -1;
}
main{
    margin: 0px auto;
    width:47%;
}
main h2{
    color: white;
    font-weight:900;
    margin: 15px;
}
section{
    display: flex;
    background-color: #181a21;
    padding-bottom: 15px;
    border-radius: 13px;
    padding-right: 15px;
}
input[type="text"],input[type="password"]{
    width:100%;
    padding: 10px;
    background-color: #32353c;
    outline: none;
    border: none;
    color: white;
    display: block;
    border-radius: 10px;
}
article label{
    margin-top: 15px;
    font-variant: small-caps;
    color: #1863f1;
    display: block;
}
article input+label{
    color: #709aaf;
}
.remmember{
    width: fit-content;
    display: flex;
    gap: 5px;
    margin-top: 10px;

}
.remmember input[type="checkbox"]{
    width:18px;
    height: 20px;
}


.submit{
    color: white;
    text-decoration: none;
    width:60%;
    padding: 10px !important;
    background: #3c99e9;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    text-align: center;
    border-radius: 10px;
}

section article a{
    color: #709aaf;
    text-decoration: underline;
    cursor: pointer;
}
section article{
    color: white;
    width: 65%;
    padding: 0px 30px;
}
section article+article{
    
    width: 35%;
    padding: 0px;
}
section article+article p{
    margin-top: 20px;
    text-align: center;
}
section article .app{
    font-variant: small-caps;
}
article .QR{
    font-variant: small-caps;
    color: #1863f1;
}
section article+article img{
    display: block;
    width: 90%;
    margin: 0 auto;
}
.help{
    text-align: center;
    display: block;
    margin-top: 40px;
}



/* ---------- create an account ---------- */
.new{
    width: 70%;
    display: flex;
    margin: 0px auto;
    margin-top: 130px;
}
.new .item1,.item2{
    width: 50%;
    padding: 10px;
    text-align: center;
}
.new .item1 p{
    font-weight: 900;
    font-size: 17px;
    margin-bottom: 5px;
}
.new .item1 a{
    display: block;
    background-color: #3c99e9;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 10px;

}
.new .item1 p,a{
    color: white;
    text-decoration: none;
}
.new .item2 p{
    color: white;
    
}
.new .item2 p a{
    text-decoration: underline;
    color: #b8b6b4;
}
.new .item2 p a:hover{
    color: white;
    text-decoration: none;
}



/* ---------- footer ---------- */
footer{
    height: fit-content;
    padding: 30px 0px;
}
.parent{
    width:100%;
    margin: 0 auto;
}
.links{
    width: fit-content;
    margin: 0 auto;
}
.links ul{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.links ul a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    
}
.links ul a:hover{
    color:blue;
}
.social-media{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
}
.social-media a{
    width:20px;
    height:20px;
    margin-top: 20px;
}
.social-media a img{
    width: 100%;
}



/* ---------- responsive using @media ---------- */
@media screen and (max-width:1200px){
    main{
        width: 70%;
        margin-top: 50px;
    }
    section{
        display: block;
        
    }
    section article{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
@media screen and (max-width:768px){
    main{
        width: 95%;
        transform: translateY(150px);
    }
    section article+article img{
        width: 120%;
        transform: translateX(-9%);
    }
    .new{
        width: 90%;
        display: block;

    }
    .new .item1,.item2{
        width: 90%;
    }
    footer{
        transform: translateY(130px);
    }
}
@media screen and (max-width:480px){
    
    section article+article img{
        width: 140%;
        transform: translateX(-13%);
    }
}